<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- 林炜 -->
    <!--日志配置部分-->
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <!--站点日志配置部分-->
    <log4net outdate_days="2">

        <!--输出日志到控制台-->
        <appender name="console" type="log4net.Appender.ConsoleAppender" >
            <target value="Console.Out" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%-5level %logger - %message%newline" />
            </layout>
        </appender>

        <!--输出日志到文件-->
        <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
            <!--定义文件存放位置 如：D:log4netfile.txt-->
            <param name="File" value="SysLogFiles\System.Log.sql" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Date" />
            <param name="DatePattern" value="yyyy.MM.dd" />
            <param name="StaticLogFileName" value="true" />
            <param name="maxinumFileSize" value="5MB"/>
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
            </layout>
        </appender>

      <root>
        <!-- priority value can be set to：【ALL < DEBUG < INFO < WARN < ERROR <FATAL < OFF】 -->
        <level value="OFF"/><!--ERROR-->
        <appender-ref ref="rollingFile" />
        <appender-ref ref="rollingError" />
      </root>

      <logger name="NHibernate.Hql.Ast.ANTLR.HqlParseEngine" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="rollingError" />
      </logger>

      <logger name="NHibernate.Cfg.Environment" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="rollingError" />
      </logger>

      <logger name="NHibernate.SQL" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="rollingError" />
      </logger>
      
      <logger name="WorkService.QueryOrderRecord" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="rollingError" />
      </logger>
      
      <logger name="questionnaire._default" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="rollingError" />
      </logger>
      
    </log4net>
</configuration>